body{
	background-image: url(../img/day.jpg);
	background-attachment: fixed;
}

/* header dev */
.header{
	background-color: #74a8ef;
	opacity: .8;
}

/* content dev */
.content{
	padding: 0.5%;
	background-color: #e2e2e2;
	opacity: .8;
}

.menu__text{
	color: black;
}
.menu__text:hover{
	color: red;
}

.theme-button span{display: none;}
.theme-button:after{content: "Dark Theme";}
.theme-button {
	color: #fff;
	background-color: #606060;
	border: solid 1px gray;
	box-shadow: 0 1px #999;
}
.theme-button:hover {background-color: #454545}
.theme-button:active {
	border: solid 1px gray;
	box-shadow: 0 1px #666;
	background-color: #242424;
}

/* footer dev */
.footer{
	background-color: gray;
	opacity: .8;
}

.textKont{color: black;}
.KontText{color: purple;}
.KontText1{color: #1051b3;}
.KontText2{color: #2b1d47;}
.KontText3{color: #a81d2d;}