* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header dev */
.header{
	grid-column: 1 / 4;
	grid-row: 1 / 2;
	height: 60px;
	border-bottom: solid 1px;
	box-shadow: 0px 5px 5px;
}

/* content dev */
.all {
	display: grid;
	grid-template-columns: 40px auto 40px;
	grid-template-rows: 60px auto 40px;
	grid-column-gap: 60px;
	grid-row-gap: 20px;
}

.content{
	grid-column: 2 / 3;
	grid-row: 2 / 3;
	min-height: 545px;
	border: solid 1px;
	box-shadow: 8px 5px 5px;
}

.menu__text{
	text-decoration: none;
	transition: color .2s linear;
	font-size: 22px;
	border-bottom: solid 2px;
}


.menu{
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	margin-top: 1%;
}

.theme-button {
	padding: 0.3%;
	font-size: 22px;
	text-align: center;
	border-radius: 15px;
}


/* footer dev */
.footer{
	grid-column: 2 / 3;
	grid-row: 3 / 4;
	min-height: 40px;
	max-height: 40px;
	border: solid 1px;
	box-shadow: 8px 5px 5px;
}

.footerDiv{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 0.7%;
}

.Kont3{margin-right: 10%;}
.textKont{margin-left: 5%; border-bottom: solid 1px;}
.KontText{border-bottom: solid 1px;}
.KontText1{border-bottom: solid 1px;}
.KontText2{border-bottom: solid 1px;}
.KontText3{border-bottom: solid 1px;}